.vscode/**
.vscode-test/**
src/**
scripts/**
.gitignore
.npmrc
.vscode-test.mjs
pnpm-lock.yaml
tsconfig.json
eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
!data/glyphnames.json
!out/extension.js
